﻿@inherits LayoutComponentBase

<head>
    <style>
        a {
            padding: 4px;
        }

        .Rectangle-1325 {
            width: 794px;
            height: 477px;
            border-radius: 12px;
            box-shadow: 0 2px 6px 0 rgb(128, 128, 128);
            background-color: var(--white);
            margin:5px;
            padding-top: 50px;
        }
    </style>
</head>

<div style="width:100%; height: 100%;">
    <div class="container-fluid" style="height: 61px; background-color: #8aa7fe;">
        <div class="row d-flex align-content-center" style=" height:61px;">
            <div class="col col-sm-3 d-flex justify-content-end" style="background-color: #8aa7fe;">
                <a><img src="/resources/campaigns/mainlayout/logout.png" /></a>
                <a><img src="/resources/campaigns/mainlayout/message.png" /></a>
                <a><img src="/resources/campaigns/mainlayout/support.png" /></a>
                <a><img src="/resources/campaigns/mainlayout/user-setting.png" /></a>
            </div>
            <div class="col col-sm-3" style="background-color: #8aa7fe;"></div>
            <div class="col col-sm-3" style="background-color: #8aa7fe;"></div>
            <div class="col col-sm-3 d-flex justify-content-center align-self-center" style="background-color: #8aa7fe;">
                <div class="dropdown">
                    <a class="btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #8aa7fe;">
                        Person
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    <img src="/resources/campaigns/mainlayout/Profile.jpg" class="rounded-circle" style="width:30px; height:20px;" />
                </div>
            </div>

        </div>
        <div class="row d-flex align-content-center" style=" height:61px; border-bottom: 2px; border-color: lightgray; ">
            <div class="col col-sm-3 d-flex justify-content-end" style="background-color: #ffffff;">
                <button type="button" class="btn btn-success btn-lg">ساخت کمپین</button>
            </div>
            <div class="col col-sm-3"></div>
            <div class="col col-sm-3"></div>
            <div class="col col-sm-3 d-flex justify-content-start align-self-center">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="fetchdata">پشتیبانی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">تبلیغات</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">کمپین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">پنل مدیریت</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row d-flex align-content-center">
            <div class="col col-sm-12 d-flex justify-content-center align-self-center" style="height: 1000px;">
                <div class="content px-4 Rectangle-1325">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
