﻿@page "/campaigns/index"
@layout Shared.Campaigns.MainLayout
@inject NavigationManager UriHelper

<head>
    <style>
        .content {
            font-family: IRANSans;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            text-align: right;
            color: #555555;
        }
    </style>
</head>

<div>
    <div class="container-fluid">
        <div class="row d-flex align-content-center">
            <div class="col col-sm-12 d-flex justify-content-center">
                <p class="content">
                    شما تا این لحظه هیچ کمپین تبلیغاتی را فعال نکرده اید.با توجه به نیاز خود می توانید یک کمپین بسازید.بعد از ساخت اولین کمپین خود می توانید وضعیت کمپین های خود را مشاهده  و مدیریت نمایید.
                </p>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col col-sm-4 d-flex">
            </div>
            <div class="col col-sm-4 d-flex justify-content-center align-self-center">
                <img src="/resources/campaigns/index/ad.png" />
            </div>
            <div class="col col-sm-4 d-flex">
            </div>
        </div>
        <div class="row d-flex" style="padding: 10px;">
            <div class="col col-sm-4 d-flex">
            </div>
            <div class="col col-sm-4 d-flex justify-content-center align-self-center">
                <button type="button" class="btn btn-success btn-lg" @onclick="Navigate">@Resources.Buttons.Create</button>
            </div>
            <div class="col col-sm-4 d-flex">
            </div>
        </div>
    </div>
</div>

@code {
    void Navigate()
    {
        UriHelper.NavigateTo("campaigns/createcampaignform");
    }
}
